/* Empty. Add your own CSS if you like */
.text-center {
  text-align: center;
}

/*img {
  background: url('../img/loading.gif');
}*/

.customError {
  padding-left: 20%;
  font-size: 14px;
  color: #808080;
}