<ion-view view-title="Редактирай Профила">
    <div class="list">
        <br/>
        <br/>
        <br/>
        <br/>
        <form id="editMe" enctype="multipart/form-data" method="post" name="fileUpload">
            <label class="item item-input">
                <span class="input-label">Качи файл:</span>
                <input id="file" multiple type="file" />
            </label>
            <label class="item item-input">
                <span class="input-label">Събмит дейба</span>
                <input type="submit" value="Upload" />
            </label>
        </form>
    </div>
</ion-view>

