<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{introTitle}}</h1>
  </ion-header-bar>

  <ion-content>
    <!--SIGN IN-->
    <form id="loginForm" name="loginForm" ng-if="loginForm" ng-submit="doLogin(loginData)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">E-mail:</span>
          <input type="email" name="username" ng-model="loginData.username" required="required">
        </label>
        <label class="item item-input">
          <span class="input-label">Парола:</span>
          <input type="password" ng-model="loginData.password" required="required">
        </label>
        <label class="item">
          <p class="text-center">
            <span class="assertive">{{errorMessageLogin}}</span>
          </p>
          <button class="button button-block button-positive" type="submit">Вход</button>
        </label>
      </div>
      <p class="text-center">
        <a class="btn btn-primary" ng-click="showRegForm()">Регистрирай се</a>
      </p>
    </form>
      
    <!--REGISTRATION-->
    <form id="signupForm" name="signupForm" ng-if="signupForm" ng-submit="doRegister(signupData)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">E-mail:</span>
          <input type="email" name="username" placeholder="example@domain.com" ng-model="signupData.username" required="required">
        </label>
        <!--<p class="customError" ng-show="signupForm.username.$invalid">*Моля въведете валиден e-mail адрес.</p>-->

        <label class="item item-input">
          <span class="input-label">Парола:</span>
          <input type="password" name="password" placeholder="минимум 5 символа" ng-minlength=5 ng-model="signupData.password" required="required">
        </label>
        <!--<p class="customError" ng-show="signupForm.password.$invalid">*Паролата трябва да e поне 5 символа.</p>-->
      <label class="item">
        <p class="text-center">
            <span class="assertive">{{errorMessageSignup}}</span>
        </p>
        <button class="button button-block button-balanced" type="submit">Регистрирай се</button>
      </label>
      </div>
      <p class="text-center">
        <a class="btn btn-primary" ng-click="hideRegForm()">Влез</a>
      </p>
    </form>

  </ion-content>
</ion-modal-view>