<ion-view view-title="Моят Профил">
<ion-content padding="true" class="has-header">
    <div id="myProfile-container1">
      <div style="margin: 0; line-height: 30px; background-color: rgb(232, 235, 239); text-align: center;">
        <!--<i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;">
        </i>-->
        <img style="height: 250px !important;" src="{{userImg}}"/>
      </div>
    </div>
    <div id="myProfile-markdown3" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{userInfo.username}}</p>
    </div>
    <a href="#/app/me/edit">
      <button id="myProfile-button1" class="button button-positive  button-block">Редактирай профила</button>
    </a>
  </ion-content>
</ion-view>